*{
    scroll-behavior: smooth;
}

body{
    background-color: #2E4756;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.foto_perfil{
    width: 200px;
    height: 210px;
    border-radius: 80px;
}

.perfil{
    font-size: 19px;
    text-align: center;
}

.iconeG{
    height: 50px;
}

.equipe{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

/* HEADER */


.imagem_logo{
    width: 80px;
    height: auto;
}

.logo_site{
    display: flex;
    gap: 0px;
    padding: 0px;

}

.alinhamento_vertical{
    align-items: center;
}

.alinhamento_horizontal{
    align-content: left;
}

.figure_logo{
    margin: 20px;
}



.opcoes{
    display: flex;
    flex-direction: row;
    width: 800px;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin-right: 20px;

}

.item{
    text-decoration: none;
    color: white;
    margin: 40px;
    font-weight: bold;    
}

.item:hover{
    background-color: #16262E;
    border-radius: 10px;
    transition:all 1s;
    transform: scale(1.1);
    width: 3000px;

}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    gap: 0px;
    padding: 0px;
    align-items: center;
    width: auto;
    height: 90px;
    border-bottom: 1px solid white;


}


/* MAIN */
.main{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
}

.texto_main{
    width: 800px;
    height: auto;
    margin-left: 40px;
}

.contate{
    margin-top: 40px
}

.figure_main{
    margin-right: 100px;
}

.imagem_main{
    width: 400px;
}


/*GERAL*/
.botao{
    background-color: #16262E; 
    border-radius: 30px;
    border: #2E4756;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: auto;
    height: 50px;
    font-weight: bold;
    cursor: pointer;

}

.botao:hover{
    transition:all 1s;
    background-color: white;
    color: #16262E;
    transform: scale(1.1);
}

/* SOBRE */

.sobre{
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    align-items: center;
    justify-content: space-between;

}

.imagem_sobreprojeto{
    width: 350px;
}

.imagem_sobreequipe{
    width: 350px;
    border-radius: 20px;
}

.texto_sobre{
    width: 800px;
}

/*FERRAMENTAS*/

.ferramentas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 600px;

}

.icones_ferramentas{
    display: flex;
}

/*SUPORTE*/

.suporte{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 590px;
    text-align: center;
    margin-bottom: 100px;

}

.teste{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}


.imagem_suporte{
    width: 350px;
    margin-left: 100px;
}

.botao_suporte{
    background-color: white; 
    border-radius: 30px;
    color: #16262E;
    border-color: #16262E;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: auto;
    height: 50px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.texto_suporte{
    margin-left: 150px;
    font-size: 18px;
}

.botao_suporte:hover{
    transition:all 1s;
    transform: scale(1.1);
}

.inputs{
    width: 500px;
    height: 20px;
    border-radius: 5px;
    border-style: none;
    padding: 15px;

}
.input-mensagem{
    width: 500px;
    height: 200px;
    border-radius: 5px;
    border-style: none;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;

}

.input-mensagem::placeholder{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

