body{
    background-color: #2E4756;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.imagem_logo{
    width: 80px;
    height: auto;
}

.logo_site{
    display: flex;
    gap: 0px;
    padding: 0px;

}

.alinhamento_vertical{
    align-items: center;
}

.alinhamento_horizontal{
    align-content: left;
}

.figure_logo{
    margin: 20px;
}



.opcoes{
    display: flex;
    flex-direction: row;
    width: 800px;
    align-items: center;
    justify-content: space-between;
        padding: 0px;
    margin-right: 20px;

}

.main{
    display: flex;
    margin-top: 100px;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
}

.texto_main{
    width: 800px;
    height: auto;
    margin-left: 40px;
}

.contate{
    margin-top: 40px
}

.figure_main{
}

.imagem_main{
    width: 250px;
}
.botao{
    background-color: #16262E; 
    border-radius: 30px;
    border: #2E4756;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: auto;
    height: 50px;
    font-weight: bold;

}


.item{
    text-decoration: none;
    color: white;
    margin: 40px;
    font-weight: bold;
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    gap: 0px;
    padding: 0px;
    align-items: center;
    width: auto;
    height: 90px;


}

